body{
  background-color: #323339;
}
h2{
  text-align: center;
}
a:link, a:visited{
  text-decoration: none;
  color: #FFF;
}
section{
  border-bottom: 1px solid;
  padding: 20px 0px;
}
.wrapper{ 
  margin: 0px;
  color:#FFF;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-nav{
  display: flex;
  background-color: #7C3E66;
  align-self: stretch;
}
.flex-nav ul{
  display: flex;
  flex: 1 1 50%;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.flex-nav li{
  flex: 3 1;
}
.flex-nav .nav-icon{
  flex: 1 1;
}

@media screen and (max-width: 600px) {
  .flex-nav li{
    flex: 3 1 100%;
  }
}
#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, rgba(55,55,55,0.6), rgba(55,50,55,0.6)), url(images/background.png);
  image-orientation: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
#welcome-section h1{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
#about{
  display: flex;
  flex-direction: column;
}
#about a{
  background-color: #7C3E66;
  border-radius: 8px;
  padding: 3px;
}
.project-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .project-container{
    grid-template-columns: 1fr;
  }
}
.project-tile{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.project-link{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.project-image{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}
.project-img {
  max-width: 100%;
  height: 100%;
}
.project-img:hover{
  opacity: 0.3;
  background-color: #7C3E66;
}
.project-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #7C3E66;
}
.overlay{
  opacity: 0;
  background-color: #7C3E66;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .5s ease;
}
.overlay:hover{
  opacity: 0.9;
}
@media screen and (width: 600px){
  .project-container{
    grid-template-columns: 1fr;
  }
} 
