body {
  background-color: #323339;
}

nav {
  position: sticky;
  top: 0;
  background-color: #7c3e66;
  padding: 10px 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the width of the logo */
  height: auto;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #61d095;
}

.burger-menu {
  display: none; /* Hide the burger menu by default */
  flex-direction: column;
  cursor: pointer;
}

.burger-menu div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* For mobile devices */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin: 10px 0;
  }

  nav a {
    display: none; /* Hide navigation links by default on small screens */
  }

  .burger-menu {
    display: flex; /* Display the burger menu on small screens */
  }

  .burger-menu.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu.active div:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

h2 {
  text-align: center;
}
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}
section {
  border-bottom: 1px solid;
  padding: 20px 0px;
}
.wrapper {
  margin: 0px;
  color: #fff;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, rgba(55, 55, 55, 0.6), rgba(55, 50, 55, 0.6)), url(images/background.png);
  image-orientation: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
#welcome-section h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
#about {
  display: flex;
  flex-direction: column;
}
#about a {
  background-color: #7c3e66;
  border-radius: 8px;
  padding: 3px;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
.project-tile {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.project-link {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.project-image {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}
.project-img {
  max-width: 100%;
  height: 100%;
}
.project-img:hover {
  opacity: 0.3;
  background-color: #7c3e66;
}
.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #7c3e66;
}
.overlay {
  opacity: 0;
  background-color: #7c3e66;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}
.overlay:hover {
  opacity: 0.9;
}
@media screen and (width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
footer {
  background-color: #7c3e66;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #61d095;
}
